@import "./node_modules/hel-bootstrap-3/src/sass/helsinki-variables";

@import "./node_modules/hel-bootstrap-3/src/sass/application-variables";

@import "./node_modules/hel-bootstrap-3/src/sass/theme-bootstrap-variables";

@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./node_modules/hel-bootstrap-3/src/sass/theme-custom-styles";

.logo {
	@include helsinki-logo($hel-black);
	margin: 20px;
	height: 80px;
}
.header {
	border-bottom: 2px solid $dark-gray;

	h1 {
    position: relative;
    top: 10px;
    text-align: center;
	}
}
.application-button {
	padding: 30px;
	display: block;
	text-align: center;

	img {
		width: 150px;
	}
	h3 {
		text-decoration: none;
		color: #000;
	}
}
.alasisennys {
	padding-bottom: 1cm;
}
.alasisennys1 {
	padding-bottom: 0.130cm;
}
.messageschat {
	border-radius: 25px;
	padding: 20px;
	border:2px solid $dark-gray;
}
.textareachat {
	resize: none;
}
.sendbutton {
	@extend .btn-default;
	@extend .btn-lg;
	position: relative;
	left: 671px;
}
.changeuser{
	@extend .btn-default;
	position: relative;
	left: 579px;
}
.chatbox1 {
	padding: 3px;
	word-wrap: break-word;
}
.paddingchat{
	padding: 2px;
}

.personal-info {
	form {
		margin: 25px;
	}

	.form-group {
		margin-top: 15px;
		margin-bottom: 50px;
	}

	input {
		max-width: 350px;
	}

}
.categories {
	margin: 10px;
}
