@import "./node_modules/hel-bootstrap-3/src/sass/helsinki-variables";

@import "./node_modules/hel-bootstrap-3/src/sass/application-variables";

@import "./node_modules/hel-bootstrap-3/src/sass/theme-bootstrap-variables";

@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./node_modules/hel-bootstrap-3/src/sass/theme-custom-styles";

.logo {
	@include helsinki-logo($hel-black);
	margin: 20px;
	height: 80px;
}
.header {
	border-bottom: 2px solid $dark-gray;
}
.alasisennys {
	padding-bottom: 1cm;
}
.alasisennys1 {
	padding-bottom: 0.130cm;
}
.messageschat {
	border-radius: 25px;
	padding: 20px;
	border:2px solid $dark-gray;
}
.textareachat {
	resize: none;
}
.sendbutton {
	@extend .btn-default;
	@extend .btn-lg;
	position: relative;
	left: 671px;
}
.changeuser{
	@extend .btn-default;
	position: relative;
	left: 579px;
}
.chatbox1 {
	padding: 3px;
	word-wrap: break-word;
}
.paddingchat{
	padding: 2px;
}
